USE [master]
GO
/****** Object:  Database [DbNotKayıt]    Script Date: 10/18/2025 5:33:48 PM ******/
CREATE DATABASE [DbNotKayıt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbNotKayıt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbNotKayıt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbNotKayıt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbNotKayıt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbNotKayıt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbNotKayıt]
GO
/****** Object:  Table [dbo].[TBLDERS]    Script Date: 10/18/2025 5:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERS](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [char](10) NULL,
	[OGRAD] [varchar](15) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRS1] [tinyint] NULL,
	[OGRS2] [tinyint] NULL,
	[OGRS3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
